/* base imports */
@use "./base/reset";
@use "./base/typography";

/* layout imports */
@use "./layout/navigation";

/* components imports */
@use "./components/slider";
@use "./components/returntop";

/* pages imports */
@use "./pages/document";

/* Responsive Design */
@media (max-width: 1000px) {
  .nav-ctnr {
    height: 250px;
    width: 100%;
    border-bottom: 1px solid grey;

    &__navbar {
      border-right: none;
      width: 100%;
    }

    &__header {
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
      border-bottom: 1px solid grey;
    }

    &__nav-group {
      position: absolute;
      width: 100%;
      height: calc(100% - 80px);
      top: 80px;
      z-index: -1;
      overflow-y: scroll;
    }

    &__link:last-child {
      border-bottom: none;
    }
  
    &__slider-tab {
      visibility: hidden;
    }
  }

  .main-doc {
    top: 250px;
    left: 0 !important;
    height: calc(100% - 250px);
    width: 100%;
  }

  .return-ctnr {
    height: 30px;
  }
}
