/* Root Variables */
:root {
  --hero-header-url: url(./images/clear_night.webp);
  --super-short-transition: 0.2s;
  --short-transition: 0.4s;
  --color-back: rgb(40, 45, 45);
  --color-sec: rgb(50, 55, 55);
  --color-font: rgb(240, 240, 240);
  --color-font-hover: rgb(160, 240, 240);
  --color-toggler-hover: rgba(240, 240, 240, 0.4);
  --proj-card-box-shadow: 0 0 10px 5px var(--color-font-hover);
  --focus-visible-shadow: 0 0 5px 1px var(--color-font-hover);
}

/* Custom Reset */
html, body, footer, main, nav,
section, div, span, h1, h2, p, a,
form, ul, li, img, label, input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global: HTML and body */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  -webkit-tap-highlight-color: transparent; /* Non-standard property: Safari and Firefox calls property as invalid in inspect mode */
}

body {
  background-color: var(--color-back);
  color: var(--color-font);
  overflow: hidden;
  font-size: 1.6rem;
}

/* Global: Element within body */
main {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body, main {
  position: relative;
}

:is(nav, footer) {
  width: 100%;
}

nav, footer {
  background-color: var(--color-sec);
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

:is(section, div, nav, footer, ul, span) {
  display: flex;
  justify-content: center;
  align-items: center;
}

section, footer {
  flex-direction: column;
  text-align: center;
}

section {
  gap: 50px;
  margin-bottom: 50px;
}

section:not(:first-child) {
  scroll-margin-top: calc(60px + 50px);
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

:is(h1, h2, p, a) {
  transition: color var(--super-short-transition);
}

a {
  color: var(--color-font);
  outline: none;
}

:is(.toggler, .slider, .proj-ctnr-links, .repo-link, .repo-span, .self-photo, #skills) {
  border-radius: 20px;
}

.slider, .proj-ctnr-links, .nav-link::after, #skills {
  transition: var(--short-transition);
}

:is(.toggler, .repo-link, .card-bottom) {
  background-color: grey;
}

.slider, .top-btn {
  background-color: rgb(240, 240, 240);
}

.repo-link, .card-bottom {
  color: rgb(240, 240, 240);
}

.repo-link, .proj-desc {
  opacity: 0;
}

:is(#home, #about-me, #skill) {
  position: relative;
}

.nav-link::after, #home::after, #home::before, #about-me::before, #skills::before {
  content: "";
  position: absolute;
}

.proj-desc, .slide-in-color {
  inset: 0;
}

.icon, .top-btn {
  height: 40px;
  width: 40px;
}

/* Scrolling Animations */
:is(.hidden, .slideOut, .slide-down-header, .show-delay) {
  opacity: 0;
}

.show, .slideIn {
  opacity: 1;
}

.hidden {
  filter: blur(20px);
}

.show {
  filter: blur(0);
}

.hidden, .show {
  transition: 
    opacity 1s,
    filter 1s;
  transition-delay: 200ms;
}

.slideIn {
  transform: translateY(0);
}

.slideOut {
  transform: translateY(10vh);
}

.slideIn, .slideOut {
  transition:
    opacity 1s,
    transform 1s;
}

.slide-down-header, .show-delay {
  animation: slide-down 2s cubic-bezier(0.25, 0.5, 0.25, 1) forwards;
}

.show-delay {
  animation-delay: 1s;
}

@keyframes slide-down {
  from { transform: translateY(-30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Nav Section */
:is(#nav-bar, .nav-link, .nav-ctnr) {
  height: 60px;
}

#nav-group {
  list-style: none;
  width: clamp(220px, 50vw, 500px);
  justify-content: space-between;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
}

.nav-link::after {
  border-bottom: 2px solid var(--color-font);
  inset: 0 100% 0 0;
}

.nav-link-hover {
  color: var(--color-font-hover);
}

.nav-link-hover::after {
  right: 0;
  border-bottom: 2px solid var(--color-font-hover);
}

.nav-ctnr {
  margin: 0 auto;
}

/* Navbar Toggler */
.toggler {
  position: relative;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

#toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

.slider {
  position: absolute;
  height: 22px;
  width: 22px;
  inset: 4px 4px;
}

/* Toggle Animations */
#toggle:checked + .slider {
  transform: translateX(30px);
}

#toggle:focus + .slider {
  box-shadow: 0 0 1px grey;
}

/* Hero Header Animations */
#home::before, #home::after {
  inset: 0;
  z-index: -1;
  transition: 3s;
}

#home::before {
  animation: fadeIn 1s ease-in forwards;
  background: var(--hero-header-url) no-repeat bottom;
  background-size: cover;
}

#home::after {
  background: linear-gradient(to bottom, transparent, var(--color-back));
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.7; }
}

/* Home Section */
#home {
  height: 100vh;
}

#home-ctnr {
  position: absolute;
  top: 40%;
  flex-direction: column;
  gap: 20px;
}

#home-header {
  font-size: 5.6rem;
}

#home-intro {
  white-space: nowrap;
  border-right: 2px solid transparent;
  width: 340px;
  top: 57%;
  font-size: 3.2rem;
  overflow: hidden;
  animation:
    typing 2s steps(21, jump-end) 3.5s 1 normal both,
    blinking 800ms steps(21) 2s infinite;
}

@keyframes typing {
  from { width: 0; border-right: 2px solid transparent; }
  to { width: 340px; border-right: 2px solid var(--color-font); }
}

@keyframes blinking {
  from, to { border-color: var(--color-font); }
  50% { border-color: transparent; }
}

/* About Section */
#about-ctnr {
  gap: 50px;
}

#about-me, #skills {
  font-size: 1.8rem;
  line-height: 3rem;
}

#about-me, #about-me::before {
  width: max(45%, 300px);
}

#about-me::before {
  left: 0;
}

.self-photo {
  width: max(20vw, 250px);
  aspect-ratio: 3 / 4;
}

#skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  border: 1px solid var(--color-font);
  padding: 20px;
  width: max(50%, 600px);
  overflow: hidden;
}

#skills::before, #about-me::before {
  background: var(--color-back);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.skill-type {
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.skill-type div {
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  min-height: 130px;
}

.skill-topic {
  color: var(--color-font-hover);
}

.skill-type:not(:first-child) {
  border-left: 1px solid var(--color-font);
}

/* About Section Box Animations */
.boxes-ctnr {
  position: absolute;
  top: 0px;
  justify-content: space-evenly;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

:is(.super-slow, .slow, .normal, .fast, .super-fast) {
  animation-name: descend;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.super-slow {
  animation-duration: 16s;
}

.slow {
  animation-duration: 13s;
}

.normal {
  animation-duration: 10s;
}

.fast {
  animation-duration: 7s;
}

.super-fast {
  animation-duration: 4s;
}

.small {
  height: 40px;
  width: 40px;
}

.medium {
  height: 80px;
  width: 80px;
}

.large {
  height: 120px;
  width: 120px;
}

.spin {
  border: 2px solid var(--color-font);
  animation: spin 4s linear 2s infinite;
}

@keyframes spin {
  from { transform: rotation(0); }
  to { transform: rotate(360deg); }
}

@keyframes descend {
  from { opacity: 0; transform: translateY(0); }
  50% { opacity: 1; transform: translateY(50vh); }
  to { opacity: 0; transform: translateY(100vh); }
}

/* Projects Section */
#projects {
  justify-content: flex-start;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 1;
  font-size: 6rem;
  color: var(--color-font);
  background-color: transparent;
  border: none;
}

.scroll-left {
  left: 300px;
}

.scroll-right {
  right: 300px;
}

.proj-nav {
  gap: 10px;
}

.proj-btn {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
}

.curr-proj-card {
  background-color: var(--color-font-hover);
}

:is(.proj-ctnr, .card-top, .card-bottom, .proj-img) {
  position: relative;
}

:is(.proj-ctnr-links, .repo-link, .proj-desc) {
  position: absolute;
}

.proj-ctnr {
  width: 50%;
  height: 400px; 
}

.proj-ctnr-links {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.prev-proj, .next-proj {
  opacity: 0.4;
  transition: 0.7s;
}

.prev-proj {
  transform: scale(0.8) translateX(-400px);
}

.curr-proj {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  transition: 0.4s;
}

.next-proj {
  transform: scale(0.8) translateX(400px);
}

.repo-link {
  bottom: 25%;
  text-decoration: none;
}

.repo-span {
  padding: 5px 10px;
  background-color: rgb(70, 75, 75);
}

.proj-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(250px, 25vw, 300px);
  aspect-ratio: 3 / 4;
  border: none;
}

.card-top {
  height: 80%;
  width: 100%;
}

.proj-desc {
  color: black;
}

.desc {
  width: 85%;
  margin: 0 auto 100px;
}

.card-bottom {
  height: 20%;
  width: 100%;
  font-size: clamp(1.6rem, 2rem, 2.4rem);
  z-index: 1;
 }

.proj-img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.proj-img-placeholder {
  width: 100%;
  height: 100%;
  background-color: white;
  color:rgb(40, 45, 45);
}

.proj-img-placeholder::before {
  content: "Under Construction";
  position: absolute;
  font-size: 2.8rem;
}

.dark-back {
  color: white;
}

/* Project Card Hover Animations */
.focus-hover {
  transform: scale(1.1);
  transform-origin: center;
  transition: var(--super-short-transition);
  box-shadow: var(--proj-card-box-shadow);
}

.focus-hover img, .focus-hover .proj-img-placeholder::before {
  filter: blur(10px);
  transform: scale(1.05);
}

.focus-hover :is(div, .repo-link) {
  opacity: 1;
}

.slide-in-color {
  position: absolute;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, grey 50%, rgb(145, 145, 145) 50%);
  transition: background-position 1s;
}

/* Footer */
footer {
  height: max(30vh, 400px);
  padding: 20px;
  gap: 25px;
}

.contact-info p {
  padding: 0 10px;
}

.contact-info p:not(:last-child) {
  border-right: 1px solid var(--color-font);
}

.social-ctnr {
  gap: 30px;
}

.icon {
  display: unset;
}

#github-icon {
  filter: brightness(100%);
}

#github-icon a .icon-pic {
  filter: invert(100%);
}

.icon-pic {
  inset: 0;
}

/* To Top Button */
#top-btn-ctnr {
  position: fixed;
  inset: auto 50px 30px auto;
  flex-direction: column;
  gap: 10px;
}

#top-btn-ctnr::after {
  content: "Back to Top";
}

.top-btn {
  border: 1px solid black;
}

.top-btn .icon {
  height: 20px;
  width: 20px;
}

/* Target devices that can hover */
@media (hover: hover) and (pointer: fine) {
  a:not(.repo-link):is(:hover, :focus-visible) {
    color: var(--color-font-hover);
  }
  
  .nav-link:is(:hover, :focus-visible) {
    color: var(--color-font-hover);
  }
  
  .nav-link:is(:hover, :focus-visible)::after {
    right: 0;
    border-bottom: 2px solid var(--color-font-hover);
  }
  
  .toggler:hover {
    box-shadow: 0 0 5px 1px var(--color-toggler-hover);
  }
  
  .proj-card:hover {
    transform-origin: center;
  }
  
  :is(.proj-ctnr-links, .repo-link):hover, .repo-link:focus-visible {
    transform: scale(1.1);
    transform-origin: center;
    transition: var(--super-short-transition);
    box-shadow: var(--proj-card-box-shadow);
  }
  
  .proj-ctnr-links:hover img, .proj-ctnr-links:hover .proj-img-placeholder::before {
    filter: blur(10px);
    transform: scale(1.05);
  }
  
  .proj-ctnr-links:hover :is(div, .repo-link) {
    opacity: 1;
  }
  
  .proj-card:is(:hover, :focus-visible) .slide-in-color {
    background-position: -100% 0;
  }
  
  .icon a:is(:hover, :focus-visible) {
    box-shadow:
      6px 2px 6px 2px var(--color-font-hover),
      -6px 2px 6px 2px var(--color-font-hover);
  }
  
  #github-icon a:is(:hover, :focus-visible) {
    box-shadow:
      6px 2px 6px 2px rgb(240, 240, 240),
      -6px 2px 6px 2px rgb(240, 240, 240);
  }
  
  .social-ctnr .icon:hover, .icon a:is(:hover, :focus-visible) .icon-pic {
    animation: shake-n-grow 0.2s;
    transform: scale(1.1);
  }
  
  @keyframes shake-n-grow {
    0% { transform: rotate(0deg) scale(1.02); }
    25% { transform: rotate(-5deg) scale(1.04); }
    50% { transform: rotate(0deg) scale(1.06); }
    75% { transform: rotate(5deg) scale(1.08); }
    100% { transform: rotate(0deg) scale(1.1); }
  }
  
  .top-btn:hover, #top-btn-link:focus-visible .top-btn {
    box-shadow: var(--focus-visible-shadow);
  }
}

/* Responsive */
@media (max-width: 1200px) {
  #about-ctnr {
    flex-direction: column;
  }

  #top-btn-ctnr {
    inset: auto 30px 30px auto;
  }
}

@media (max-width: 768px) {
  #home-header {
    font-size: 3.6rem;
  }

  #home-intro {
    width: 260px;
    font-size: 2.4rem;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 260px; }
  }

  #skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: max(50%, 250px);
    padding: 10px;
  }

  .skill-type:not(:first-child) {
    border-top: 1px solid var(--color-font);
    border-left: unset;
    padding-top: 30px;
  }

  .contact-info {
    flex-direction: column;
    gap: 10px;
  }

  .contact-info p:not(:last-child) {
    border: none;
  }
}

@media (max-width: 480px) {
  #nav-group {
    width: clamp(200px, 50vw, 500px);
  }

  h1, #home-header {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  #home-intro {
    width: 175px;
    font-size: 1.8rem;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 190px; }
  }

  footer {
    padding: 20px 20px 100px;
  }

  :is(.nav-link, #about-me, .skill-type p) {
    font-size: 1.6rem;
  }

  #top-btn-ctnr::after {
    content: "To Top";
  }

  .top-btn {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 320px) {
  #nav-group {
    width: clamp(190px, 50vw, 500px);
  }

  #about-me {
    width: 90%;
  }

  :is(.proj-ctnr-links, .repo-link):hover, .repo-link:focus-visible {
    transform: none;
  }

  .focus-hover, :is(.focus-hover, .proj-ctnr-links:hover) img {
    transform: none;
  }
}
