/* Root Variables */
:root {
  --hero-header-url: url(./images/clear_night.webp);
  --super-short-transition: 0.2s;
  --short-transition: 0.4s;
  --color-back: rgb(40, 45, 45);
  --color-sec: rgb(50, 55, 55);
  --color-font: rgb(240, 240, 240);
  --color-font-hover: rgb(160, 240, 240);
  --color-toggler-hover: rgba(240, 240, 240, 0.4);
  --focus-visible-shadow: 0 0 10px 5px var(--color-font-hover);
}

/* Debugger */
/* * {
  outline: 1px solid lightcoral;
} */

/* Custom Reset */
html,
body,
header,
footer,
main,
nav,
section,
div,
span,
button,
h1,
h2,
p,
a,
form,
ul,
li,
img,
label,
input,
article,
address {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global: HTML, body, and Tag Elements */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; /* Non-standard property: Safari and Firefox calls property as invalid in inspect mode */
}

body {
  background-color: var(--color-back);
  color: var(--color-font);
  font-size: 1.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

:is(section, div, nav, footer, ul, span, button) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:is(h1, h2, p, a) {
  transition: color var(--super-short-transition);
}

nav,
footer {
  background-color: var(--color-sec);
}

footer,
section {
  flex-direction: column;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

section {
  gap: 50px;
}

section:not(:first-child) {
  scroll-margin-top: calc(60px);
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

a {
  color: var(--color-font);
  outline: none;
}

button {
  cursor: pointer;
}

/* Global: Class Elements within body */
.layout-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.rounded {
  border-radius: 20px;
}

.short-transition {
  transition: var(--short-transition);
}

.grey-back {
  background-color: grey;
}

.light-back {
  background-color: rgb(240, 240, 240);
}

.light-font {
  color: rgb(240, 240, 240);
}

.nav-bar__toggler {
  cursor: pointer;
}

:is(.home, .about__about-me, .about__skills) {
  position: relative;
}

.nav-bar__link::after,
.home::after,
.home::before,
.about__about-me::before,
.about__skills::before {
  content: "";
  position: absolute;
}

.see-more {
  position: absolute;
  bottom: 0;
  text-decoration: none;
}

.see-more::after {
  content: " ";
  display: inline-block;
  border-bottom: 2px solid var(--color-font);
  border-right: 2px solid var(--color-font);
  height: 15px;
  width: 15px;
  margin: 8px;
  transform: rotate(45deg);
}

/* Scrolling Animations */
:is(.hidden, .show) {
  transition: opacity 1s, filter 1s;
}

:is(.slide-in, .slide-out) {
  transition: 0.7s;
}

:is(.hidden, .show) {
  transition-delay: 200ms;
}

.hidden {
  opacity: 0;
  filter: blur(20px);
}

.show {
  opacity: 1;
  filter: blur(0);
}

.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.slide-out {
  opacity: 0;
  transform: translateY(10vh);
}

.show-delay,
.slide-down-header {
  opacity: 0;
  animation: slide-down 1s cubic-bezier(0.25, 0.5, 0.25, 1) forwards;
}

.show-delay {
  animation-delay: 1s;
}

.home > .show-delay:last-child {
  animation-delay: 4s;
}

.about > .show-delay:last-child,
.projects > .show-delay:last-child {
  animation-delay: 2s;
}

@keyframes slide-down {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Nav Section */
.nav-bar {
  height: 60px;
}

.nav-bar__ctnr {
  margin: 0 auto;
}

.nav-bar__group {
  width: clamp(220px, 50vw, 500px);
  justify-content: space-between;
}

.nav-bar__link {
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
}

#home-link {
  cursor: pointer;
}

.nav-bar__link::after {
  border-bottom: 2px solid var(--color-font);
  inset: 0 100% 0 0;
  transition: var(--short-transition);
}

.nav-link-hover {
  color: var(--color-font-hover);
}

.nav-link-hover::after {
  right: 0;
  border-bottom: 2px solid var(--color-font-hover);
}

/* Navbar Toggler */
.nav-bar__toggler {
  position: relative;
  width: 60px;
  height: 30px;
}

.nav-bar__toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

.nav-bar__slider {
  position: absolute;
  height: 22px;
  width: 22px;
  inset: 4px 4px;
}

.nav-bar__svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  right: 3px;
}

/* Toggle Animations */
.nav-bar__toggle:checked + .nav-bar__slider {
  transform: translateX(30px);
}

.nav-bar__toggle:focus + .nav-bar__slider {
  box-shadow: 0 0 1px grey;
}

/* Hero Header Animations */
.home::before,
.home::after {
  inset: 0;
  z-index: -1;
  transition: 2s;
}

.home::before {
  animation: fadeIn 1s ease-in forwards;
  background: var(--hero-header-url) no-repeat bottom;
  background-size: cover;
}

.home::after {
  background: linear-gradient(to bottom, transparent, var(--color-back));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

/* Home Section */
.home {
  height: calc(100dvh - 60px);
}

.home__ctnr {
  position: absolute;
  top: 40%;
  flex-direction: column;
  gap: 20px;
}

.home__header {
  font-size: 5.6rem;
}

.home__intro {
  white-space: nowrap;
  border-right: 2px solid transparent;
  width: 420px;
  top: 57%;
  font-size: 3.2rem;
  overflow: hidden;
  animation: typing 1s steps(26, jump-end) 3s 1 normal both,
    blinking 1s steps(21) 2s infinite;
}

@keyframes typing {
  from {
    width: 0;
    border-right: 2px solid transparent;
  }
  to {
    width: 420px;
    border-right: 2px solid var(--color-font);
  }
}

@keyframes blinking {
  from,
  to {
    border-color: var(--color-font);
  }
  50% {
    border-color: transparent;
  }
}

/* About Section */
.about {
  height: calc(100dvh - 60px);
}

.about__ctnr {
  gap: 50px;
}

.about__img-ctnr {
  position: relative;
}

.about__link {
  position: absolute;
  text-decoration: none;
  bottom: 10%;
  font-size: 1.8rem;
  padding: 5px 20px;
  background-color: rgba(120, 120, 120, 0.7);
}

.about__about-me,
.about__skills {
  font-size: 1.8rem;
  line-height: 3rem;
}

.about__skills {
  max-width: 500px;
}

.about__about-me,
.about__about-me::before {
  width: max(45%, 300px);
}

.about__about-me::before {
  left: 0;
}

.about__self-photo {
  width: max(12vw, 300px);
  aspect-ratio: 3 / 4;
}

.about__skills {
  border: 1px solid var(--color-font);
  padding: 20px;
  width: 25vw;
  min-width: 350px;
  overflow: hidden;
}

.about__skills::before,
.about__about-me::before {
  background: var(--color-back);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.about__skill-type {
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.about__skill-type .about__skill-type-content {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  min-height: 100px;
  min-width: 240px;
}

.about__skill-topic {
  color: var(--color-font-hover);
}

.about__skill-type:not(:first-child) {
  border-left: 1px solid var(--color-font);
}

.about__skills-list {
  list-style: none;
  flex-direction: column;
}

/* About Section Box Animations */
.boxes-ctnr,
.boxes-ctnr-2,
.boxes-ctnr-3,
.boxes-ctnr-4 {
  position: absolute;
  top: 0px;
  justify-content: space-evenly;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

.fall-animation {
  animation-name: descend;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.super-slow {
  animation-duration: 19s;
}

.slow {
  animation-duration: 16s;
}

.normal {
  animation-duration: 13s;
}

.fast {
  animation-duration: 10s;
}

.super-fast {
  animation-duration: 7s;
}

.small-box {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}

.medium-box {
  height: 80px;
  width: 80px;
  border-radius: 15px;
  opacity: 0.75;
  background-color: var(--color-back);
}

.large-box {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  opacity: 1;
  background-color: var(--color-back);
}

.spin {
  border: 2px solid var(--color-font);
  animation: spin 4s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotation(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes descend {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(50vh);
    transform: translateY(50dvh);
  }
  to {
    opacity: 0;
    transform: translateY(100vh);
    transform: translateY(100dvh);
  }
}

@keyframes descend1200 {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 0.5;
    transform: translateY(40vh);
    transform: translateY(40dvh);
  }
  50% {
    opacity: 1;
    transform: translateY(70vh);
    transform: translateY(70dvh);
  }
  75% {
    opacity: 0.5;
    transform: translateY(100vh);
    transform: translateY(100dvh);
  }
  to {
    opacity: 0;
    transform: translateY(130vh);
    transform: translateY(130dvh);
  }
}

@keyframes descend768 {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 0.5;
    transform: translateY(40vh);
    transform: translateY(40dvh);
  }
  50% {
    opacity: 1;
    transform: translateY(80vh);
    transform: translateY(80dvh);
  }
  75% {
    opacity: 0.5;
    transform: translateY(120vh);
    transform: translateY(120dvh);
  }
  to {
    opacity: 0;
    transform: translateY(160vh);
    transform: translateY(160dvh);
  }
}

/* Projects Section */
.projects {
  justify-content: center;
  height: calc(100dvh - 60px);
}

.link-disabled {
  cursor: initial;
}

.proj-ctnr {
  width: 90%;
  gap: 50px;
  flex-wrap: wrap;
}

.proj-ctnr__card {
  overflow: hidden;
  position: relative;
}

.proj-ctnr__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(250px, 25vw, 300px);
  aspect-ratio: 3 / 4;
  border: none;
}

.proj-ctnr__card-top {
  height: 80%;
  width: 100%;
  position: relative;
}

.proj-ctnr__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proj-ctnr__img-placeholder {
  width: 100%;
  height: 100%;
  background-color: white;
  color: rgb(40, 45, 45);
}

.proj-ctnr__img-placeholder::before {
  content: "Under Construction";
  position: absolute;
  font-size: 2.8rem;
}

.proj-ctnr__desc-ctnr {
  opacity: 0;
  color: rgb(40, 45, 45);
  inset: 0;
  position: absolute;
}

.proj-ctnr__desc {
  width: 85%;
  margin: 0 auto 100px;
}

.proj-ctnr__card-bottom {
  height: 20%;
  width: 100%;
  font-size: clamp(1.6rem, 2rem, 2.4rem);
  z-index: 1;
  position: relative;
}

.proj-ctnr__repo-link {
  opacity: 0;
  bottom: 25%;
  text-decoration: none;
  position: absolute;
}

.proj-ctnr__repo-span {
  padding: 5px 10px;
  background-color: rgb(70, 75, 75);
}

/* Project Card Hover Animations */
.focus-hover {
  transform: scale(1.1);
  transform-origin: center;
  transition: var(--super-short-transition);
  box-shadow: var(--focus-visible-shadow);
}

.focus-hover img,
.focus-hover .proj-ctnr__img-placeholder::before {
  filter: blur(10px);
  transform: scale(1.05);
}

.focus-hover :is(div, .proj-ctnr__repo-link) {
  opacity: 1;
}

.slide-in-color {
  inset: 0;
  position: absolute;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, grey 50%, rgb(145, 145, 145) 50%);
  transition: background-position 1s;
}

/* Footer */
footer {
  padding: 50px 20px;
  gap: 25px;
}

.contact-info p {
  padding: 0 10px;
}

.contact-info p:not(:last-child) {
  border-right: 1px solid var(--color-font);
}

.social-ctnr {
  gap: 30px;
}

.icon {
  display: unset;
}

#github-icon {
  filter: brightness(1);
}

#github-icon a .icon-pic {
  filter: invert(1);
}

.icon-pic {
  height: 100%;
  width: 100%;
}

/* To Top Button */
#top-btn-ctnr {
  position: fixed;
  inset: auto 50px 30px auto;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

#top-btn-ctnr::after {
  content: "Back to Top";
}

.top-btn {
  border: 1px solid black;
}

.top-btn .icon {
  height: 20px;
  width: 20px;
}

/* Target devices that can hover */
@media (hover: hover) and (pointer: fine) {
  a:not(.about__link, .proj-ctnr__repo-link):is(:hover, :focus-visible) {
    color: var(--color-font-hover);
  }

  .nav-bar__link:is(:hover, :focus-visible) {
    color: var(--color-font-hover);
  }

  .nav-bar__link:is(:hover, :focus-visible)::after {
    right: 0;
    border-bottom: 2px solid var(--color-font-hover);
  }

  .nav-bar__toggler:hover {
    box-shadow: 0 0 5px 1px var(--color-toggler-hover);
  }

  .proj-ctnr__link:hover {
    transform-origin: center;
  }

  :is(.about__link, .proj-ctnr__repo-link, .proj-ctnr__card):hover,
  :is(.about__link, .proj-ctnr__repo-link, .proj-ctnr__card):focus-visible {
    transform: scale(1.1);
    transform-origin: center;
    transition: var(--super-short-transition);
    box-shadow: var(--focus-visible-shadow);
  }

  .proj-ctnr__card:hover img,
  .proj-ctnr__card:hover .proj-ctnr__img-placeholder::before {
    filter: blur(10px);
    transform: scale(1.05);
  }

  .proj-ctnr__card:hover :is(div, .proj-ctnr__repo-link) {
    opacity: 1;
  }

  .proj-ctnr__link:is(:hover, :focus-visible) .slide-in-color {
    background-position: -100% 0;
  }

  .icon a:is(:hover, :focus-visible) {
    box-shadow: 6px 2px 6px 2px var(--color-font-hover),
      -6px 2px 6px 2px var(--color-font-hover);
  }

  #github-icon a:is(:hover, :focus-visible) {
    box-shadow: 6px 2px 6px 2px rgb(240, 240, 240),
      -6px 2px 6px 2px rgb(240, 240, 240);
  }

  .social-ctnr .icon:hover,
  .icon a:is(:hover, :focus-visible) .icon-pic {
    animation: shake-n-grow 0.2s;
    transform: scale(1.1);
  }

  @keyframes shake-n-grow {
    0% {
      transform: rotate(0deg) scale(1.02);
    }
    25% {
      transform: rotate(-5deg) scale(1.04);
    }
    50% {
      transform: rotate(0deg) scale(1.06);
    }
    75% {
      transform: rotate(5deg) scale(1.08);
    }
    100% {
      transform: rotate(0deg) scale(1.1);
    }
  }

  :is(.top-btn, .proj-btn):hover,
  #top-btn-link:focus-visible .top-btn {
    box-shadow: var(--focus-visible-shadow);
  }
}

/* Responsive */
@media (max-width: 1200px) {
  .about__ctnr {
    flex-direction: column;
  }

  #top-btn-ctnr {
    inset: auto 30px 30px auto;
  }

  .fall-animation {
    animation-name: descend1200;
  }
}

@media (max-width: 768px) {
  .home__header {
    font-size: 3.6rem;
  }

  .home__intro {
    width: 320px;
    font-size: 2.4rem;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 320px;
    }
  }

  .about__skills {
    padding: 10px;
  }

  .about__skill-type:not(:first-child) {
    border-top: 1px solid var(--color-font);
    border-left: unset;
    padding-top: 30px;
  }

  :is(.about__skill-type-content) {
    font-size: 1.6rem;
  }

  .contact-info {
    flex-direction: column;
    gap: 10px;
  }

  .contact-info p:not(:last-child) {
    border: none;
  }

  :is(.about__link, .proj-ctnr__repo-link, .proj-ctnr__card):hover,
  :is(.about__link, .proj-ctnr__repo-link, .proj-ctnr__card):focus-visible {
    transform: none;
  }

  .focus-hover,
  .focus-hover img {
    transform: none;
  }

  .fall-animation {
    animation-name: descend768;
  }
}

@media (max-width: 480px) {
  .nav-bar__group {
    width: clamp(200px, 50vw, 500px);
  }

  .nav-bar__ctnr:last-child {
    margin-right: auto;
    margin-left: 0;
  }

  h1,
  .home__header {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  .home__intro {
    width: 235px;
    font-size: 1.8rem;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 235px;
    }
  }

  :is(.nav-bar__link, .about__about-me) {
    font-size: 1.6rem;
    cursor: pointer;
  }

  #top-btn-ctnr::after {
    content: "To Top";
  }

  .top-btn {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 320px) {
  .nav-bar__group {
    width: clamp(190px, 50vw, 500px);
  }

  .about__about-me {
    width: 90%;
  }
}
