/* Site Layout */
.calc-grp,
.bottom-grp,
.bottom-grp__rules {
  flex-direction: column;
}

.calc-grp {
  gap: 30px;

  &__header {
    text-align: center;
    text-decoration: underline;
  }
}

.bottom-grp {
  margin-top: 20px;
  gap: 20px;

  &__rules {
    width: 600px;
    gap: 10px;
    white-space: normal;
    border: 1px solid black;
    padding: 10px;
  
    ul {
      margin-left: 20px;
    }
  }
}