/* Site Layout */
body {
  @media (max-width: 600px) {
    & {
      height: calc(var(--vh, 1vh) * 100);
      background-color: rgb(40, 40, 40);
      gap: 0;
    }
  }
  
  @media (max-width: 1000px) {
    & {
      flex-direction: column !important;
    }
  }
}

.calc-grp,
.bottom-grp,
.bottom-grp__rules {
  flex-direction: column;
}

.calc-grp {
  gap: 30px;

  &__header {
    text-align: center;
    text-decoration: underline;
  }
}

.bottom-grp {
  margin-top: 20px;
  gap: 20px;

  @media (max-width: 600px) {
    & {
      display: none;
    } 
  }

  @media (max-width: 1000px) {
    & {
      margin: 0;
    }

    &__move-calc-btn {
      display: none;
    }
  }

  &__rules {
    width: 600px;
    gap: 10px;
    white-space: normal;
    border: 1px solid black;
    padding: 10px;
  
    ul {
      margin-left: 20px;
    }
  }
}