/* Global */
:root {
  --grid-rows: 1;
  --grid-cols: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.3rem;
  font-size: 0.7rem;
}

body {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
}

/* Site Body */
.app-header {
  text-align: center;
  text-decoration: underline;
}

.calculator {
  position: relative;
  flex-direction: column;
  min-height: 450px;
  min-width: 325px;
}

.rules {
  flex-direction: column;
  width: 600px;
  gap: 10px;
  white-space: normal;
  border: 1px solid black;
  padding: 10px;
  line-height: 1.3em;
}

.rules ul {
  margin-left: 20px;
}

/* Calculator */
#calc-display {
  position: absolute;
  height: 20%;
  width: 100%;
  background-color: rgb(94, 196, 150);
  padding: 15px;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
}

#calc-input {
  display: block;
  height: 30%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#calc-output{ 
  display: block;
  text-align: right;
  height: 50%;
  width: 100%;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

#calc-buttons {
  position: absolute;
  top: 20%;
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-buttons {
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  font-size: 2rem;
  border: 1px solid black;
}

.grid-buttons:hover {
  background-color: rgba(0, 127, 255, 0.4);
}

.grid-buttons:active {
  background-color: rgba(0, 127, 255, 0.2);
}

@media (max-width: 600px) {
  body {
    background-color: rgb(40, 40, 40);
    gap: 0;
  }

  .rules {
    display: none;
  }

  .app-header {
    display: none;
  }

  .calculator {
    width: 100%;
    height: 80%;
    min-width: 0;
    min-height: 0;
    background-color: white;  
  }

  .grid-buttons {
    font-size: 1.5em;
  }

  #calc-input {
    font-size: 1em;
  }

  #calc-output {
    font-size: 2em;
  }
}
