#root {
  text-align: center;
}

dialog[open] {
  animation: fadeIn 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}
