sup {
  vertical-align: top;
  position: relative;
  top: -0.3rem;
  font-size: 0.7rem;
}

.bottom-grp {
  &__rules {
    line-height: 1.3rem;

    @media (max-width: 1000px) {
      & {
        line-height: 1.1rem;
      }

      li {
        font-size: 0.9rem;
      }
    }
  }
  
  &__rules-header {
    font-size: 1.2rem;
  }
}

.calc-grp {
  &__input {
    font-size: 1rem;
  }

  &__display__output, &__grid-btns {
    font-size: 2rem;
  }
}

button {
  font-size: 1.5rem;
}