sup {
  vertical-align: top;
  position: relative;
  top: -0.3rem;
  font-size: 0.7rem;
}

.bottom-grp__rules {
  line-height: 1.3em;
}

.bottom-grp__rules-header {
  font-size: 1.2rem;
}

.calc-grp__input {
  font-size: 1rem;
}

.calc-grp__output,
.calc-grp__grid-buttons { 
  font-size: 2rem;
}

button {
  font-size: 1.5rem;
}