sup {
  vertical-align: top;
  position: relative;
  top: -0.3rem;
  font-size: 0.7rem;
}

#rules {
  line-height: 1.3em;

  #rules-header {
    font-size: 1.2rem;
  }
}

#calc-input {
  font-size: 1rem;
}

#calc-output,
.grid-buttons { 
  font-size: 2rem;
}

button {
  font-size: 1.5rem;
}