html,
body,
main,
section,
div,
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main,
section,
div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

html,
body,
main,
section {
  align-items: center;
}

div {
  align-items: flex-start;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  width: 816px; /* // uncomment for print format */
  height: 1054px;
  margin: 0;
}

body {
  background-color: lightgrey;
  font-size: 1.5rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

:is(h2, h3) span {
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

ul {
  margin-left: 20px;
}

li {
  color: rgb(120, 120, 120);
}

a {
  color: blue;
}

#resume {
  width: 816px; /* US Letter Size at 96 DPI */
  height: 1054px;
  margin: 0px; /* change to 0 for print format */
  background-color: white;
  flex-direction: row;
  overflow: hidden;
}

#info-grp {
  background-color: white;
  width: 31%;
  height: 100%;
  padding: 30px;
}

#section-divider {
  width: 1px;
  height: 97%;
  background-color: rgb(180, 180, 180);
}

#experience-grp {
  width: 69%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
}

.info-ctnr {
  justify-content: flex-start;
  align-items: center;
}

.info {
  width: 100%;
  line-height: 2.6rem;
  padding: 10px 0;
}

.info.name-header {
  padding-top: 0;
}

.info > ul {
  list-style-type: none;
  margin-left: 0;
  line-height: 3rem;
}

.info > p {
  color: rgb(120, 120, 120);
}

.info h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.experience-section:not(:first-of-type) {
  border-top: 1px solid rgb(180, 180, 180);
}

.experience-section > h1 {
  margin-bottom: 10px;
}

.experience-section:not(:first-of-type) > h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.experience {
  width: 100%;
  line-height: 2.6rem;
  margin-bottom: 10px;
}

.experience.last {
  margin-bottom: 20px;
}

.experience > ul {
  line-height: 2.4rem;
}

.experience-section:first-of-type > .experience:first-of-type {
  margin-bottom: 0px;
}

.experience-header {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
