html, body, main, section, div, h1, h2, h3, p, a, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main, section, div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

html, body, main, section {
  align-items: center;
}

div {
  align-items: flex-start;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  width: 816px; /* // uncomment for print format */
  height: 1054px;
  margin: 0;
}

body {
  background-color: lightgrey;
  font-size: 1.6rem;
}

img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25%;
  object-fit: cover;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

:is(h2, h3) span {
  font-weight: 500;
}

h3 {
  font-size: 1.6rem;
}

ul {
  margin-left: 20px;
  line-height: 2.2rem;
}

#resume {
  width: 816px; /* US Letter Size at 96 DPI */
  height: 1054px;
  margin: 20px; /* change to 0 for print format */
  background-color: aliceblue;
  flex-direction: row;
  overflow: hidden;
}

#info-grp {
  position: relative;
  background-color: lightblue;
  width: 36%;
  height: 100%;
}

#experience-grp {
  width: 64%;
  height: 100%;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

.info-ctnr {
  position: absolute;
  bottom: 0;
  height: 78%;
}

.info, .experience {
  width: 100%;
}

.info {
  border-top: 1px solid black;
  line-height: 2rem;
  padding: 20px;
  gap: 5px;
}

.info:first-of-type {
  border-top: none;
}

.name-header {
  align-items: center;
  width: 100%;
}

.name-header h1 {
  font-size: 2.4rem;
  border-bottom: 2px solid black;
}

.experience {
  width: 100%;
  line-height: 2.8rem;
}