/* Global */
:root {
  --time-styling: 8%;
  --clock-size: 75vw;
  --primary-color: rgb(40, 40, 40);
  --secondary-color: rgb(240, 240, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, div {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body div {
  position: absolute;
}

/* Switches and Power Button */
#switch, .slider {
  border-radius: 20px;
  width: 100px;
  height: 34px;
}

#switch {
  position: relative;
  display: inline-block;
  border: none;
  cursor: pointer;
}

#switch #toggler {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.slider-cover {
  position: absolute;
  height: 30px;
  width: 48px;
  top: 2px;
  left: 3px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  z-index: 2;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  left: 12px;
  content: "24hr";
}

.slider:after {
  position: absolute;
  right: 12px;
  content: "12hr";
}

.toggler:checked + .slider .slider-cover {
  transform: translateX(46px);
}

#power-btn {
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
}

.power-icon {
  height: 3vh;
  filter: invert(100%);
}

/* Main Body */
.header {
  top: 10%;
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  letter-spacing: 1px;
  gap: 30px;
}

.switch-container {
  top: 20%;
  gap: 40px;
}

.clock {
  top: 32.5%;
  flex-direction: row;
  justify-content: space-evenly;
  height: clamp(20vh, 25vh, 30vh);
  width: var(--clock-size);
  gap: 5%;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
}

.footer {
  bottom: 10%;
  flex-direction: column;
  gap: 20px;
}

.footer p,
.footer div {
  font-size: clamp(1.5rem, 2.5vw, 3.5rem);
}

/* Displayed Content */
#time {
  position: absolute;
  left: var(--time-styling);
  flex-direction: column;
  font-size: clamp(1rem, 13vw, 18rem);
}

#ante-post {
  right: 5%;
  flex-direction: column;
  letter-spacing: 3px;
  font-size: clamp(1.2rem, 5vw, 15rem);
}

#localTZ {
  position: static;
}