/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, div {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: rgb(40, 40, 40);
  color: rgb(240, 240, 240);
}

body div {
  position: absolute;
}

/* Main Body */
.header {
  flex-direction: column;
  top: 10%;
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  letter-spacing: 1px;
  gap: 20px;
}

.clock {
  top: 32.5%;
  flex-direction: row;
  justify-content: space-evenly;
  height: clamp(20vh, 25vh, 30vh);
  width: 75vw;
  gap: 5%;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 50px;
}

.footer {
  bottom: 10%;
  flex-direction: column;
  gap: 20px;
}

.footer p,
.footer div {
  font-size: clamp(1.5rem, 2.5vw, 3.5rem);
}

/* Displayed Content */
#time {
  left: 8%;
  flex-direction: column;
  align-items: flex-start;
  font-size: clamp(1rem, 13vw, 18rem);
}

#ante-post {
  right: 5%;
  flex-direction: column;
  letter-spacing: 3px;
  font-size: clamp(1.2rem, 5vw, 15rem);
}

#localTZ {
  position: static;
}