/* Navigation Section */
.nav-container {
  position: fixed;
  display: unset;
  width: 350px;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s;
  z-index: 10;

  #navbar,
  #slider-tab {
    position: absolute;
  }

  #navbar {
    height: 100%;
    width: 95%;
    border-right: 2px solid gray;
    background-color: white;
    overflow-y: scroll;
    z-index: 10;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .nav-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 40px;
    }

    .nav-group {
      display: unset;

      .nav-link {
        display: block;
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.6);
        border-top: 1px solid gray;
        padding: 12px 40px;
        text-decoration: none;

        &:last-child {
          border-bottom: 1px solid gray;
        }
        &:hover {
          background-color: rgb(0, 127, 255);
          color: white;
          transition: background-color 0.05s;
        }
      }
    }
  }
}